*{
    font-family: 'Noto Serif', serif, Courier, monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.nav {
    background-color: rgb(0,0,0);
}
.nav_li{
    display: inline-block;
    padding: 8px;
}
.nav_li i{
    padding: 5px;
    color: white;
    text-align: right;
}
.nav_li i:hover{
    cursor: pointer;
    color: red;
}
.nav_li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav_li a:hover{
   color: red;
}
.nav_ul img{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 200px;
    height: 60px;

}
.bloqueizquierdo h1{
    padding-top: 50px;
    text-align: center;
    color: rgb(22, 22, 22);
    font-family: 'Carter One', cursive;
    font-weight: 400;
    font-size: 40px;
}
.bloqueizquierdo a {
    display:inline-block;
    padding: 20px;
}

.bloqueizquierdo p{
    font-size: 16px;
    text-align: center;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    
}
.contenedorimagenes h2{
    font-size: 20px;
    background-color: rgb(240, 34, 34);
    color: white;
    text-align: center;
    font-family: 'Carter One', cursive;
}
.contenedorimagenes h2:hover{
    color: pink;
}
.contenedorimagenes {
    display: inline-block;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    margin-left: 200px;
}
.contenedorimagenes a:hover{
    transform: translateY(-5px);
	box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}
.partefinal {
   
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
}
.partefinal:hover{
    transform: translateY(-15px);
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
    background-color: white;
}
.partefinal2 p{
    font-size:16px;
    padding: 20px;

}
.partefinal2 h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Carter One', cursive;
}
.partefinal .grid{
    position: relative;
    padding-left: 90px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    bottom: 0;
}
.partefinal .grid p{
box-shadow: 1px 1px 5px black;
border-radius: 20px;
background-color: rgba(189, 183, 183, 0.534);
padding: 10px;
}
.partefinal .grid img{
    box-shadow: 1px 1px 4px black;
}
.piepagina {
    background-color: rgb(0, 0, 0);

    width: 100%;
  
}
.piepagina .direccion{
    color: white;
    text-align: center;
}
.piepagina .direccion h4{
    font-size: 1.5em;
}
.piepagina .direccion p{
    font-size: .8em;
    color: rgba(255, 255, 255, 0.815);
}
.piepagina .contacto{
    color: #ffffff;
    position: relative;
    padding: 10px 10px;
    text-align: center;
    
}
.piepagina .contacto li{
    display: inline-block;
    padding: 5px;

}
.piepagina .contacto a{
    color: white;
    text-decoration: none;
    font-size: .6em;
    color:rgba(255, 255, 255, 0.815); 
}
.piepagina .contacto a:hover{
    color: red;
    
}

.piepagina .contacto i{
    padding: 5px;
    color:rgba(255, 255, 255, 0.815); 
    font-size: .8em;
}
.piepagina .contacto i:hover{
    color: red;
}
.piepagina .up{
    position: relative;
}

.piepagina .up i{
    color: white;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.piepagina .up i:hover{
    color: red;
}



/*rutinas*/

.contenedorrutinas{
    
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    bottom: 20PX;
}
.contenedorrutinas .rutinas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
   
}
.contenedorrutinas .rutinas img{
    width: 200px;
    height: 100px;
    padding: 10px;
}
.contenedorrutinas .rutinas p{
    font-size: 12px;
    text-align: justify;
}
.contenedorrutinas .rutinas a:hover{

    transform: translateX(5px);
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
    background-color: white;
}

.contenedorrutinas2{
    
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    bottom: 20PX;
}
.contenedorrutinas2 .rutinas2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
   
}
.contenedorrutinas2 .rutinas2 img{
    width: 150px;
    height: 110px;
    padding: 10px;
}
.contenedorrutinas2 .rutinas2 p{
    font-size: 12px;
    text-align: justify;
}
.contenedorrutinas2 .rutinas2 a:hover{

    transform: translateX(5px);
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
    background-color: white;
}





.nav2 {
    background-color: rgb(0,0,0);
}
.nav_li2{
    display: inline-block;
    padding: 8px;
}
.nav_li2 i{
    padding: 5px;
    color: white;
    text-align: right;
}
.nav_li2 i:hover{
    cursor: pointer;
    color: red;
}
.nav_li2 a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav_li2 a:hover{
   color: red;
}
.nav_ul2 img{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 200px;
    height: 60px;
}

/*ayuda*/
.ayuda {
    position: relative;
    padding: 20px;
}
.ayuda .ayudanos li{
    font-weight: bold;
    list-style: none;
    padding: 20px 0;
}
.ayuda .ayudanos p {
    justify-content: left;
    padding-left: 20px;
    font-size: 0.8em;
    font-weight: normal;
}
  
